/* === ACHIEVEMENTS === */
.about__achievements {
    margin-top: 3rem;
}

.about__achievements-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about__history {
    background: var(--color-white);
    margin-top: 3rem;
}

.about__history-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.about__history p {
    margin: 0rem;
}

.about__achievements-right > p {
    margin: 1.6rem 0 2.5rem;
}

.achievements__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievement__card {
    background: var(--color-primary);
    padding: 1.6rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
    transition: var(--transition);
}

.achievement__card:hover {
    background: var(--color-white);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    color: var(--color-black);
}

.achievement__icon {
    background: var(--color-warning);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    color: var(--color-black);
    font-size: 1.5rem;
}

.achievement__card p {
    margin-top: 1rem;
}

.about__achievements-left img {
    border-radius: 2rem;
}

/* === TEAM === */
.team {
    /* background: transparent; */
}

.galery {
    /* background: transparent; */
    margin-top: 2rem;
}

.team__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.team__member {
    background: var(--color-light-1);
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: var(--transition);
    position:relative;
    overflow: hidden;
}

.team__member:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.team__member:hover .team__member-info * {
    color: var(--color-black);
}

.team__member-image img {
    filter: saturate(0);
    border-radius: 2rem;
}

.team__member:hover img {
    filter: saturate(1);
}

.team__member-info * {
    text-align: center;
    margin-top: 1.4rem;
    color: var(--color-black);
}

.team__member-info p {
    color: var(--color-black);
    margin-top: 0.5rem;
}

.team__member-socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-warning);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0,0,0,0.3);
    transition: var(--transition);
}

.team__member-socials a {
    padding: 1rem;
}

.team__member:hover .team__member-socials {
    right: 0;
}

/* === MEDIA QUERIES (TABLETS) === */

@media screen and (max-width: 1024px) {
    .about__achievements {
        margin-top: 2rem;
    }

    .about__achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team__member  {
        padding: 1rem;
    }
}

/* === MEDIA QUERIES (PHONE) */
@media screen and (max-width: 600px) {
    .achievements__cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__member {
        border-radius: 1.5rem;
    }

    .team__member-image img {
        border-radius: 1rem;
    }

    .team__member p {
        margin-bottom: 1.5rem;
    }

}
